#
# ВНИМАНИЕ! Эти трансформы жестко связаны с настройками метрик в metrics-catalog.{{ vector_environment }}.yml, при их изменении необходимо исправить и тесты
#

###############################################################################
# GENERATED CODE. DO NOT CHANGE IT!
###############################################################################

{% from 'macro-build_selector_matching_expr.j2' import build_selector_matching_expr, field_value_replacer with context %}

[transforms.metrics-http-accesslog-k8s_exclude_filter]
type = "filter"
inputs = ["http_accesslog-k8s"]
condition = { type = "vrl", source = '''
    exclude_event = false

    {%- for event_selector in metrics_catalog.exclude_events -%}
        {%- set selector_id = "selectors/" + loop.index0 | string -%}
        || # selector_id: {{ selector_id }}
        {{ build_selector_matching_expr(event_selector, "exclude_event,  selector: {{ event_selector.selector }}") }}
    {%- endfor %}

    is_allowed = !exclude_event
    is_allowed
''' }

# 1) Трасформ должен отбирать события подходящие для фильтра и сразу выполнять замены в данном событии через label_override
# 2) Создаем определения метрик под каждую метрику
# 3) Собираем все источники метрик в общий metrics-http-accesslog-k8s



# Проходим по всем namespace и метрикам, создаем условия отбора для событий из input
{%- set _remap_name_prefix = "log-metric-prepare_metric_" %}
{%- set _collector_name_prefix = "log-metric-collector_metric_" %}
{% set _all_collector_inputs = [] %}

{%- for _metric_namespace, _metric_def in metrics_catalog.metrics.items() -%}
    {%- for _metric_name, _metric_conf in _metric_def.items() -%}
        {%- set _metric_full_name = _metric_namespace + "_" + _metric_name -%}
        {%- set _remap_name = _remap_name_prefix + _metric_full_name %}
        {%- set _collector_name = _collector_name_prefix + _metric_full_name %}
        {{- _all_collector_inputs.append( _collector_name ) }}
{{ ' ' }}
###############################################################################
# GENERATED CODE. DO NOT CHANGE IT!
###############################################################################

[transforms.{{ _remap_name }}]
type = "remap"
inputs = ["metrics-http-accesslog-k8s_exclude_filter"]
#
drop_on_abort = true
source = '''
    is_allowed = false

{% for event_selector in _metric_conf.event_selectors -%}
    {%- set selector_id = loop.index0 | string %}
    {%- set selector_name = event_selector.selector %}
    {%- set source_ref = _metric_full_name + "/selector[" + selector_id + "]: " + selector_name %}

    # source_ref: {{ source_ref }}
    is_selector_match = {{ build_selector_matching_expr(event_selector, source_ref) }}
    is_allowed = is_allowed || is_selector_match

  {%- for logfield_name, operator in event_selector.filter.items() %}
    {%- if operator.re is defined %}
      {%- if operator.re != "" %}
        {%- if operator.label_override is defined and operator.label_override != "" %}
{{ '' }}
    # нужно снижение кардинальности значений label_override
    if ( is_selector_match ) {
{# logfield_name всегда строка и валидируется через json-schaema в исходных данных #}
        .{{ logfield_name }} = to_string!(.{{ logfield_name }});
        .{{ logfield_name }} = replace(.{{ logfield_name }}, r'{{ operator.re }}', s'{{ operator.label_override }}');
    }
        {%- else %}
          {# no label_override #}
        {%- endif %}
      {%- else %}
    Build text: ERROR: invalid regexp '{{ operator.re }}' in filter: re expr in {{ source_ref }},
      {%- endif %}
{{ '' }}
    {%- endif %}
  {%- endfor %}

{% endfor %}

if ( !is_allowed ) {
    abort # совпадений не было найдено, удалить это событие
}
'''
{# newline #}


###
### GENERATED METRCS DEFINITIONS
###
###############################################################################

[transforms.{{ _collector_name }}]
type = "log_to_metric"
inputs = [ "{{ _remap_name }}" ]

  [[transforms.{{ _collector_name }}.metrics]]
    type = "{{ _metric_conf.metric_type }}"
    field = "{{ _metric_conf.group_by_logfield }}"
{% if _metric_namespace != "" %}
    namespace = "{{ _metric_namespace }}"
{% endif %}
    name = "{{ _metric_name }}"

    [transforms.{{ _collector_name }}.metrics.tags]
      environment = "{{ vector_environment }}"
      {% for label, logfield in _metric_conf.label_logfield_mapping.items() -%}
      {{ label }} = "{{ '{{' }}{{ logfield }}{{ '}}' }}"
      {% endfor %}

  {% endfor %}
{% endfor %}


###############################################################################





[transforms.metrics-http-accesslog-k8s]
type = "filter"
inputs = [{{ _all_collector_inputs | map("to_json") | join(',')}}]
condition = '''true'''
